node_modules/
dist/
dist-desktop/
.git/
.github/
.idea/
.angular/
.git/
coverage/
robot/results/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
IconifyNavigator.iml
.env
.env.local
.env.*.local
